/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_11_2021_20_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_11_2021_20_26_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_11_2021_20_26__Changes_.xml
/.idea/deployment.xml
/.idea/dev.bx.iml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
